body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  --btt-bg: black;
}
.App {
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  background-color: #2f4f4f;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
}
.i_form {
  background-color: #4a766e;
  border-radius: 5px;
  max-width: 300px;
  margin: auto;
  height: 300px;
}
img {
  width: 300px;
  padding-right: 300px;
}
.i_title {
  display: inline-flex;
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  color: black;
}
.i_title .i_icon {
  display: flex;
  padding: 30px 2px 0px 15px;
}
.i_title h2 {
  border-bottom: 1px solid white;
  padding: 2px;
  margin: 24px 0px 15px 0px;
}
.i_text {
  padding: 15px;
  font-size: 17px;
  color: white;
}
button {
  cursor: pointer;
  width: 203px;
  background-color: rgba(179, 255, 0, 0.712);
  padding: 6px;
  margin: 9px;
  border: none;
  color: black;
  border-radius: 5px;
}
input {
  width: 190px;
  padding: 7px;
  border: none;
  color: black;
  border-radius: 3px;
}
